<ion-tabs>
  <ion-tab-bar slot="bottom" class="glass-nav">
    <div class="glass-nav-container">
      <ion-tab-button tab="home" class="glass-nav-button">
        <div class="nav-icon-wrapper">
          <ion-icon name="barbell" class="nav-icon"></ion-icon>
          <div class="flash-effect"></div>
        </div>
      </ion-tab-button>

      <ion-tab-button tab="programs" class="glass-nav-button">
        <div class="nav-icon-wrapper">
          <ion-icon name="albums" class="nav-icon"></ion-icon>
          <div class="flash-effect"></div>
        </div>
      </ion-tab-button>

      <ion-tab-button tab="statistics" class="glass-nav-button">
        <div class="nav-icon-wrapper">
          <ion-icon name="stats-chart" class="nav-icon"></ion-icon>
          <div class="flash-effect"></div>
        </div>
      </ion-tab-button>
    </div>
  </ion-tab-bar>
</ion-tabs>
